footer {
  background-color: var(--black);
  margin-bottom: 0;
  padding: 0 70px;
  padding-bottom: 2px;
  font-size: 12px;
  color: var(--white-color);
}

footer .footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-div .logo-footer {
  width: 200px;
  text-align: left;
}

.footer-div .logo-footer img {
  width: 100px;
  height: 90px;
  border-radius: 10%;
}

.footer-div .contacts {
  display: flex;
  justify-content: left;
  width: 250px;
  justify-content: space-between;
}

.footer-div .contacts .companies {
  text-align: left;
  cursor: pointer;
}

.footer-div .contacts .socials {
  display: flex;
  flex-direction: column;
}

.footer-div a {
  margin: 5px 10px;
  text-decoration: none;
  color: var(--white-color);
}

.footer-div a:hover {
  color: var(--primary-light);
  transform: scale(1.2);
}

footer p {
  text-align: left;
}

@media (max-width: 700px) {
  footer {
    padding: 0 30px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .footer-div .logo-footer {
    width: 140px;
  }

  .footer-div .contacts {
    width: 180px;
    font-size: 10px;
  }
}
